#wheel
wheel==0.44.0

#devops
black==24.8.0
click==8.1.7
pytest==8.3.3
pytest-cov==5.0.0
pylint==3.3.1
boto3==1.35.29
fire==0.6.0

#web
fastapi==0.115.0
uvicorn==0.31.0
functions-framework==3.8.1

#datascience
jupyter==1.1.1
pandas==2.2.3
numpy==1.26.4
scikit-learn==1.5.2
matplotlib==3.9.2
seaborn==0.13.2
dask==2024.9.1

#geo
geopy==2.4.1

#MLOps
gradio==4.44.0
streamlit==1.38.0
protobuf==4.25.5
onnx==1.16.2
databricks==0.2
databricks-cli==0.18.0
databricks-sql-connector==3.4.0
mlflow==2.16.2

##MLOps-HuggingFace
transformers==4.45.1
sentencepiece==0.2.0
datasets==3.0.1
tokenizers==0.20.0

#deep learning
torch==2.4.1
torchvision==0.19.1
tensorflow==2.17.0

#openai whisper
git+https://github.com/openai/whisper.git

#Text Tools
#yake
yake==0.4.8
wikipedia==1.4.0